# Object files
*.o
*.obj

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Binary files
*.exe
*.pyc

# Office files
*.doc
*.docx
*.ppt
*.pptx

# Picturs & Videos
*.png
*.jpg
*.mp4

# Models
*.dwg
*.sldprt
*.stl

# Others
*.pdf
.idea/
.venv/
.vscode/
twophase/